header,.content {
  display: none;
}
  /*

(1) Modifica el codigo flex para que la dirección de los elementos sean en columna
  */
  nav {
    display: flex;
    flex-direction: column;
    
    list-style: none;
    justify-content:space-around;
  }


.nav > li {
    margin: 10px;
    flex-basis: auto;
    margin-top: 50px;
}

li {
  display: flex;
  border: solid;
  text-align: center;
  border-color: gray;
  border-width: 1px;
  flex-basis: 19%;
  justify-content: space-evenly;
  
}


  /*Device = Tablets, Ipads (portrait)
    Screen = B/w 600px to 990px*/
@media (min-width:600px) and (max-width: 990px)  {
  
header {
  display: none;
}

.nav {

  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
     
}

.content{
  display: flex;
  justify-content: space-evenly;
  border: solid;
  border-width: 1px;
  }
    
      .aside {
        border: solid;
        width: 30%;
        border-width: 1px;
        
      }
    
      .slidebox{

        display: flex;
        justify-content: space-evenly;
        border: solid;
        border-width: 1px;
       
      }
    
      .article{
          width: 70%;
      }
  
    .poem{
        display: flex;
        border: solid;
        border-width: 1px;
        justify-content: flex-start;
        
    }
  }
  
  
@media (min-width:991px) {
  
    header {
     display: flex;
     
    }

      .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;

      }

    h2 {
        border: solid;
        border-width: 1px;
        flex-basis: 33%;
        display: flex;
        justify-content: space-evenly;
    }
    
    
      .content{
        display: flex;
        justify-content: space-evenly;
        border: solid;
        border-width: 1px;
    }
    
      .aside {
        display: flex;
        flex-direction: column;
        border: solid;
        width: 30%;
        border-width: 1px;
        
      }
    
      .slidebox{
        display: flex;
        justify-content: space-evenly;
        border: solid;
        border-width: 1px;
       
      }
    
      .article{
        
display: flex;
flex-direction: row;
          width: 70%;
      }
    
    
    .poem{
        display: flex;
        
        border: solid;
        border-width: 1px;
        justify-content: flex-start;
    }
  }
  
  
    
  